<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>เมนู</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['auth']" *ngIf="!isAuthenticated">เข้าสู่ระบบ</a>
      <a mat-list-item [routerLink]="['list']" *ngIf="isAuthenticated">รายการใบเสนอราคา</a>
      <a mat-list-item [routerLink]="['guard']" *ngIf="isAuthenticated">ใบเสนอราคา รปภ</a>
      <a mat-list-item [routerLink]="['guard-boss']" *ngIf="isAuthenticated">ใบเสนอราคา หน.รปภ.</a>
      <a mat-list-item (click)=onLogout() *ngIf="isAuthenticated">ออกจากระบบ</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
