<div class="container-fluid" style="margin-top: 15px;">

  <mat-card class="mt-3" style="background-color: #ffefed;">
    <mat-card-content>
      <button mat-raised-button color="primary" (click)="onAdd()">เพิ่มอุปกรณ์</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="mt-3">
    <mat-card-content>
      <mat-spinner style="margin: auto;" *ngIf="loading"></mat-spinner>
      <div [hidden]="loading">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display responsive nowrap cell-border"
          width="100%">
          <thead>
            <tr>
              <th>แก้ไข
              </th>
              <th>ลบ
              </th>
              <th>อุปกรณ์
              </th>
              <th>ประเภท
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let equip of equipments;">
              <td><button mat-raised-button color="basic" (click)=onEdit(equip.AUTO_ID)>แก้ไข</button>

              </td>
              <td><button mat-raised-button color="primary" (click)=onDelete(equip.AUTO_ID)
                  [disabled]="equip.QUOTA!==0">ลบ</button>

              </td>
              <td>{{equip.NAME}}</td>
              <td>{{equip.TYPE === 1? "ค่าเริ่มต้น":"เพิ่มเติม"}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-card-content>
  </mat-card>

</div>
