/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  border: 1px solid gray;
  border-radius: 15px;
}

.mat-toolbar.mat-primary {
  background: #D34346;
  color: #fff;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: #D34346;
}

.mat-drawer-container {
  background-color: #fafafa;
  color: #D34346;
}

